*{
  box-sizing: border-box;
  
}

body,
html{
  margin: 0;
  padding: 0;
  background-color: rgb(2, 38, 2);
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  width: 100%;
  min-width: 100px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

button {
 
  border-radius: 5px;
  background-color: #FFF100;
  cursor: pointer;
  font-weight: 100;
}


#new-deck,
#draw {
  height: 50px;
  padding: 5px;
}

#new-deck {
  align-self: flex-start;
  width: 130px;
  font-size: 1.3rem;
}

#draw {
  font-size: 1.6rem;
  align-self: stretch;
}

div.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 120px;
  width: calc(120px * 5/7);
}


div.card-slot:nth-of-type(1) {
  margin-bottom: 50px;
}

img.card {
 width: 100%;
 height: 100%;
}

#top {
  display: flex;
  align-self: flex-start;
  
}

div#top > h2 {
  margin: 0;
  margin-left: 200px;
  
}

h1, 
#computer-score, 
#user-score {
  color: white;
}

button:disabled {
 
  cursor: not-allowed;

}
